/*Stylesheet for Indian Restaurant Web Design Project*/
/*

/*BODY*/

body{
	font-family: 'roboto','arial',sans-serif;
	margin: 0px;
}

/*LAYOUT*/

.container{
	width: 80%;
	max-width: 1200px;
	margin: 0px auto;
	
}

.sectionGrey{
	padding-top: 40px;
	background-color: #ded9d9;
}




.column3 {
	float: left;
	width: 33.3%;
	
	
}




.clear{
	clear: both;
}

/*TEXT STYLING*/

h1{
	font-size: 20px;
	margin: 0px;
}

h2, h3 {
	text-align: center;
	margin-top: 10px;
}

p{
	font-size: 16px;
}

.bodyText{
	text-align: left;
	padding-right: 15px;
}




/*SITE ID & UTILITIES*/

#breadCrumbs {
	display: inline-block;
	//float: right;
}

#siteidUtilitiesBar{
	border: 1px solid black;
	margin:0px auto;
	text-align: center;
	
	

}

.utilities{
	width: 33.3%;
	float: left;
	display: inline-block;
	
}



#logo {
	float: left;
}

#breadCrumbs{
	font-size: 10px;
	display: inline;
	margin-right: 50px;
}

#searchBar{
	height: 15px;
	width: 100px;
	border-radius: 10%;
}


/*NAVIGATION*/

#navbar {
	background-color: #242121;
	//height:20px;
	padding: 5px 0px;
	margin: 0 auto;
	
}

ul{
	text-align: center;
}

ul li{
	display: inline-block;
	padding-right: 5px;
	text-decoration: none;
}

ul li a{
	color: #e6d5d5;
}




/*OPENING HOURS SECTION*/

#openingHours{
	background-color: #333333;
	padding-top: 40px;
	color: #f2f2f2;
}

iframe{
	width: 100%;
	height: 350px;
	border: 2px solid grey;
	margin-bottom: 30px;
}

.columnOpeningHours {
	//float: left;
	width: 50%;
	margin: 0px auto;
}

table {
	margin:auto;
	border:1px solid black;
}

tr:nth-child(odd) {
	background-color: #595959;
}
tr:nth-child(even) {
	background-color: #999999;
}

th, td {
    padding: 10px;
    text-align: left;
}